*{
    font-family: 'Poppins', sans-serif;
}

.login{
    height: 100vh;
}

.header h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}

.header p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
    margin-bottom: 20px;
}

.login-form label{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 20px;
}

.login-form input{
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 8px;
}

.login-form a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
    margin: 20px 0;
    display: block;
}

.login-form .signin{
    width: 100%;
    height: 42px;
    background: #000000;
    border-radius: 8px;
    color: white;
    border: none;
}

.login-form .signin-google{
    width: 100%;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 10px 0 20px 0;
}

.login-form span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
}

.login-form span a{
    font-weight: 600;
}

.signin{
  background-color: white; 
  color: black; 
  
}

.signin:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 2px solid #000000;
}

/*About*/


.background{
    background-image: url(img/landmarks-modern-city\ \(1\).jpg)
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background: #341950;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-item :hover{
    color: grey
}

.mdr-article{
    padding: 80px 0;
}

.vnm{
margin-bottom: 5em;
font-size: 16px;
overflow-wrap: break-word;
background-color: #28143D;
padding: 80px;
color: #fff;
}

                  /*Peminjaman*/
.card-footer button{
  color: white;
  background-color: #341950;
}
.card-footer button:hover{
  background-color: white;
  color: #341950;
  outline: 1px solid #341950;
}

                  /*Prioritas*/

.priority button{
  color: white;
  background-color: #341950;
}

.priority button:hover{
  background-color: white;
  color: #341950;
  outline: 1px solid #341950;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


/*Footer*/


  .page-footer {
    background-color: #28143D;
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}

.foot{
    color: white;
}

.icon{
    margin-right: 3px;
}


  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }